
<h1>Rating-bar</h1>
<h3 class="text-primary">{{point}}</h3>
<div>
  <button [style.backgroundColor]="color1" [value]="1" (click)="click1($event.target.value)">1</button>
  <button [style.backgroundColor]="color2" [value]="2" (click)="click2($event.target.value)">2</button>
  <button [style.backgroundColor]="color3" [value]="3" (click)="click3($event.target.value)">3</button>
  <button [style.backgroundColor]="color4" [value]="4" (click)="click4($event.target.value)">4</button>
  <button [style.backgroundColor]="color5" [value]="5" (click)="click5($event.target.value)">5</button>
  <button [style.backgroundColor]="color6" [value]="6" (click)="click6($event.target.value)">6</button>
  <button [style.backgroundColor]="color7" [value]="7" (click)="click7($event.target.value)">7</button>
  <button [style.backgroundColor]="color8" [value]="8" (click)="click8($event.target.value)">8</button>
  <button [style.backgroundColor]="color9" [value]="9" (click)="click9($event.target.value)">9</button>
  <button [style.backgroundColor]="color10" [value]="10" (click)="click10($event.target.value)">10</button>
  <button   (click)="reset($event.target.value)">Reset</button>

</div>


